

footer {
    position: relative;
    /* width: 100vw; */
    padding: inherit 0%;
    margin:inherit 0%;
    bottom: 0;
}
  
body#top-of-page > div.container-fluid {
    min-height: 75vh;
    max-width: 100vw;
}

#up-to-top {
    padding: 0px 0 10px 0;
}

#navigation.sticky{
    visibility:hidden;
    transition:ease-out;
    transform: 2s;
}

#navigation.sticky.fixed {
    visibility:unset;
    transition:ease-in;
    transform: 2s;
}