---
layout: compress
---
<!doctype html>
<html class="no-js" lang="{% if site.language == nil %}en{% else %}{{ site.language }}{% endif %}">
<head>
	{% include _head.html %}
</head>
<body id="top-of-page" class="{{ layout.format }}">
	<div class="hero-section">
  <div class="hero-section-text">
		<div class="masthead-title">{{ site.header.title }}</div>
  </div>
	</div>

	{% unless page.skip_boilerplate %}
	{% include _navigation.html %}
	{% endunless %}

	
  <div class="container-fluid">
    <div class="row">
      {{ content }}
    </div>
  </div>

	{% unless page.skip_boilerplate %}
	{% include _footer.html %}
	{% endunless %}

	{% include _footer_scripts.html %}
</body>
</html>
